.header_main{
    width: 100%;
    height: 560px;
    background-color: var(--lightBlue);
}
.header_cont{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.header_cont .header_right_side{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_cont .header_right_side img{
    width: 100%;
}
.header_cont .header_left_side{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.header_cont .header_left_side h1{
    font-family: IBMP;
    font-size: 56px;
    font-weight: 600;
}
.header_cont .header_left_side .paragraphs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header_cont .header_left_side .paragraphs .first_p{
    display: flex;
    gap: 10px;
}
.header_cont .header_left_side .paragraphs .first_p p{
    font-family: IBMP;
    font-size: 18px;
    font-weight: 400;

}
.header_cont .header_left_side .links{
    display: flex;
    gap: 15px;
}
.header_cont .header_left_side .links a{
    background-color: #EB5757;
    padding: 12px 24px ;
    border-radius: 999px ;
    font-size: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}
.header_cont .header_left_side .links a:hover{
    background-color:   #FD3737;

}
.header_cont .header_left_side .links .link{
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 115.4px ;
    border: 1px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_cont .header_left_side .links .link svg{
    cursor: pointer;
}
.header_cont .header_left_side .links .link input {
    width: 80%;
    border: 1px solid white;
    border-left:1px solid rgb(138, 173, 201);
    padding: 0 14px;
    outline: none;
    font-weight: 900;
    color: rgb(7, 84, 172);
}

@media (max-width:900px) {
    .header_cont .header_left_side{
        width: 40%;
    }
    .header_cont .header_left_side h1{
        font-size: 36px;
    }
    .header_cont .header_left_side .links{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .header_cont .header_right_side{
        width: 60%;
    }
    .header_cont .header_left_side .paragraphs .first_p p{
        font-size: 14px;
    }
    .header_cont .header_left_side .links .link{
        padding: 7px 5px 7px 20px;
    }
    .header_cont .header_left_side .links a{
        font-size: 14px;
    }
}

@media (max-width:680px) {
    .header_cont{
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 20px;
    }
    .header_cont .header_left_side{
        width: 100%;
        height: 40%;
        align-items: center;
        gap: 10px;
    }
    .header_cont .header_left_side h1{
        font-size: 36px;
    }
    .header_cont .header_left_side .links{
        flex-direction: column-reverse;
        align-items: center;

    }
    .header_cont .header_right_side{
        width: 100%;
        height: 50%;
        padding-top: 10px;
    }
    .header_cont .header_right_side img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width:480px) {
    .header_cont .header_left_side h1{
        font-size: 24px;
        text-align: center;
    }
}
@media (max-width:400px) {
    .header_cont .header_right_side{
        height: 40%;
    }
    .header_cont .header_left_side{
        height: 60%;
    }
}