.signIn_main{
    width: 100%;
    height: 92%;
    background-color: var(--lightBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}
.signIn_main .title_main{
    height: 8%;
}
.signIn_main .signIn_content{
    background-color: white;
    width: 540px;
    height: 500px;
    padding: 10px 30px 50px;
    border-radius: 48px 0px 48px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.signIn_main .signIn_content .inner{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 15px;
}
.signIn_main .signIn_content img{
    width: 100%;
    height: 60%;
}
.signIn_main .signIn_content h3{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}
.signIn_main .signIn_content h4{
    font-family: Inter;
    font-size: 22px;
    font-weight: 900;
    width: 100%;
    text-align: left;
}
.signIn_main .signIn_content p{
    font-family: InterLight;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    text-align: left;
}
.signIn_main .signIn_content .sign_with{
    width: 100%;
    padding: 15px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
}


@media (max-width:900px) {
    .signIn_main .signIn_content{
        height: auto;
    }
}
@media (max-width:450px) {
    .signIn_main .signIn_content .inner{
        width: 100%;
    }
    .signIn_main .signIn_content img{
        height: 80%;
    }
}
@media (max-width:330px) {
    .signIn_main .signIn_content .sign_with{
        width: 100%;
        padding: 15px;
        border: 1px solid;
        text-align: center;
        font-size: 12px;
    }
    .signIn_main .signIn_content h4{
        font-size: 16px;
    }
}