.callPage_div{
    width: 100%;
}
.callPage_div .video_content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.callPage_div .video_content .left_side{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;
}
.callPage_div .video_content .right_side{
    width: 35%;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.callPage_div .video_content .left_side .all_members{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}
.callPage_div  .mute{
    padding: 12px 20px ;
    gap: 10px;
    border-radius: 61px;
    background: #DFEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.callPage_div  .mute_active{
    background: #EB5757;
    padding: 12px 20px ;
    gap: 10px;
    border-radius: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.callPage_div  .mute_active p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: white;

}
.callPage_div  .mute:hover{
    background: #bbc8df;
}
.callPage_div  .mute p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: #0060FF;

}

.callPage_div .video_content .right_side .all_friends .title{
    display: flex;
    align-items: center;
    gap: 15px ;
    background-color: white;
    width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
}
.callPage_div .video_content .right_side .all_friends .title p{
    font-family: InterLight;
    font-size: 16px;
    font-weight: 600;  
}
.callPage_div .video_content .right_side .all_friends .title button{
    padding: 12px 20px ;
    border-radius: 61px;
    font-family: InterLight;
    font-size: 12px;
    font-weight: 600;
    color: #0060FF;
    background: #DFEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.callPage_div .video_content .right_side .all_friends .title button:hover{
    background: #b9c6db;
}
.callPage_div .video_content .right_side .all_friends_list {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 40px 25px;
}
.callPage_div .video_content .right_side .all_friends_list ul{
    max-height: 180px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}










.callPage_div .video_content .right_side ::-webkit-scrollbar {
    background: #DFEBFF;
    border-radius: 10px;
    width: 5px;
  }

.callPage_div .video_content .right_side ::-webkit-scrollbar-track {
    border-radius: 50px;
    height: 5px;
  }
  

.callPage_div .video_content .right_side ::-webkit-scrollbar-thumb {
    background: #0060FF;
    border-radius: 10px;
    cursor: pointer;
    height: 3px;
  }