* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
:root {
  --lightBlue: #73bcff;
  --darkBlue: #2e9dfb;
  --mainRed: #fa6464;
  --mainYellow: #ffd955;
  --mainGreen: #37d15d;
}
@font-face {
  font-family: "Inter";
  src: url("./Fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "InterLight";
  src: url("./Fonts/Inter-Light.ttf");
}
@font-face {
  font-family: "IBMP";
  src: url("./Fonts/IBMPlexSansHebrew-Medium.ttf");
}
.App {
  /* max-width: 1440px; */
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
